@import url("./large.css");
:root {
    --primary-color: #255876;
    --secondary-color: #f9fafa;
    --accent1-color: #d5d8d9;
    --accent2-color: #f2b143;
    --accent3-color: #04293d;

    --heading-font: 'Madimi One', sans-serif; 
    --paragraph-font: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: var(--accent2-color);
}

header img {
    width: 100px;
    margin: 5px;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
    background-color: var(--primary-color);
}

ul.menuLinks li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Roboto;
    display: block;
    padding: .75rem 2vw;
}

li.currentMenuItem {
    background-color: rgba(0,0,0,0.2);
}

/* Small CSS */
#navButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: .25rem 2vw;
}

#navButton::before {
    content: "\2630";
}

/*  CSS for open class */

#navButton.open::before {
    content: "x";
}

nav.open {
    grid-template-rows: 1fr;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--accent2-color);
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    /* justify-content: space-between; */
    justify-items: center;
    align-items: center;
}

.footerCell {
    padding: 8px;
    padding-top: 20px;
}

.footerCell a img {
    height: 40px;
}

.footerCell p {
    padding: 0;
}
