@import url("./common.css");

.threeColGrid {
    grid-template-columns: 1fr 1fr 1fr;
}

.oneColGrid {
    grid-template-columns: 1fr;
    /* max-width: 50%; */
}

#membersList {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#membersList div figure img {
    max-width: 100px;
}

#membersList .memberCard {
    background-color: var(--accent1-color);
    border: 1px solid black;
    margin: 5px;
    border-radius: 10px;
    height: 340px;
}

.layoutButtons {
    margin: 10px;
}

.layoutButtons button.selected {
    cursor: pointer;
    background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;

}

main {
    text-align: center !important;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 37.999rem) {
    .layoutButtons {
        display: none;
    }

    .threeColGrid {
        grid-template-columns: 1fr;
    }
    
    .oneColGrid {
        grid-template-columns: 1fr;
        /* max-width: 50%; */
    }
}

