@import url("./common.css");

main {
    height: 100%;
}

.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/naples_park_banner.jpg");
    height: 40vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroContent {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}