/* Large CSS */
@media only screen and (min-width: 38rem) {
    #navButton {
        display: none;
        
    }

    nav {
        grid-template-rows: 1fr !important;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex !important;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255,255,255,0.2);
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}